<nav class="navbar navbar-default">
  <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#/admin/services">SDDC</a>
  </div>
  <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#/admin/services">Services</a></li>
              <li><a href="#/admin/servicemodules">Servicemodules</a></li>
            </ul>
          </div>
</nav>
<a href="#/admin/servicemodules">Back to Overview</a>

<h1>Edit ServiceModule</h1>



<div class="form-group">
    <label>Modulename:</label>
    <input type="text" class="form-control" data-ng-model="servicemodule.name" required />
</div>


<div class="form-group">
    <label>Category:</label>
    <input type="text" class="form-control" data-ng-model="servicemodule.category" required />
</div>



<div ng-if="servicemodule.size" class="form-group">
    <label>Size:</label>
    <input type="text" class="form-control" data-ng-model="servicemodule.size" required />
</div>


<div class="form-group">
    <label>Config:</label>
    <textarea class="form-control" rows="30" data-ng-model="servicemodule.config" required></textarea>
</div>

<div class="clearfix"></div>

<button type="button" class="btn btn-lg btn-primary" ng-click="updateServiceModule(servicemodule)">Save Service</button>
