<nav class="navbar navbar-default">
  <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#/admin/services">SDDC</a>
  </div>
  <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#/admin/services">Services</a></li>
              <li><a href="#/admin/servicemodules">Servicemodules</a></li>
            </ul>
          </div>
</nav>
<h1>ServiceModules</h1>
<table class="table">
    <thead>
    <tr>
        <td>
            Name
        </td>
        <td>
            Size
        </td>
        <td>
            Category
        </td>
        <td>
            Options
        </td>
    </tr>
    </thead>
    <tr ng-repeat="module in servicemodules">
        <td><a href="#/admin/servicemodules/{{module.id}}">{{module.name}}</a></td>
        <td>
            {{module.size}}
        </td>
        <td>
            {{module.category}}
        </td>
        <td>
            <button type="button" class="btn btn-primary" ng-click="deleteServiceModule(module)">Delete</button>
            <a href="#/admin/servicemodules/{{module.id}}/edit"><button type="button" class="btn btn-primary" ng-click="">Edit</button></a>
        </td>
    </tr>


</table>


<a href="#/admin/servicemodules/new"><button type="button" class="btn btn-primary" >Create new ServiceModule</button></a>