<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" strict="true" name="SDDC">
               
	<Properties>
    	<Property name="filename">./SDDC.log</Property>
  	</Properties>
  	
  	<Appenders>
  		 <Appender type="Console" name="sddc.Console" target="SYSTEM_OUT">
  		 	<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
  		 </Appender>
  		 
  		 <Appender type="File" name="sddc.File" fileName="${filename}">
  		 	<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
  		 </Appender>
  	</Appenders>
  	
  	<Loggers>
		<Logger name="sddc.Console" level="trace">
			<AppenderRef ref="sddc.Console"/>
		</Logger>
	
		<Logger name="sddc.File" level="trace">
			<AppenderRef ref="sddc.File"/>
		</Logger>
  	
  		<Root level="trace">
  			<AppenderRef ref="sddc.Console"/>
  			<AppenderRef ref="sddc.File"/>
  		</Root>
  	</Loggers>
 
 </Configuration>